{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Information</title>
        <script>
            $(document).ready(function(){
                $('#body_color tr:even').css('background-color','#dddddd');
            });
        </script>
    </head>
    <body>
        <div class="ui twenty wide column">
    	    <div class="ui segment">
		        <table class="ui black celled table">
                      <thead>
                        <tr>
                            <th>URL</th>
                            <th>HOST</th>
                            <th>TYPE</th>
                            <th>METHOD</th>
                            <th>NAME</th>
                        </tr>
                      </thead>
                      <tbody id="body_color">
                      {% for data in DataList %}
                        <tr>
                            <td height="50px">{{data['URL']}}</td>
                            <td>{{data['HOST']}}</td>
                            <td>{{data['TYPE']}}</td>
                            <td>{{data['METHOD']}}</td>
                            <td>{{data['NAME']}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>

		        </table>
	        </div>
	    </div>
        <br>
        <div class="ui red small right floated button" id="send_gen_2">
            <i class="send icon"></i>Send
        </div>
    </body>


        <!--<div class="ui steps">-->
          <!--<a class="active step">-->
            <!--<i class="truck icon blue"></i>-->
            <!--<div class="content">-->
              <!--<div class="title">Shipping</div>-->
              <!--<div class="description">Choose your shipping options</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a class="step">-->
            <!--<div class="content">-->
              <!--<div class="title">Billing</div>-->
              <!--<div class="description">Enter billing information</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->

</html>

<script>
    $(document).ready(function(){
        $('#send_gen_2').on('click', function(){
            window.open('/autogen_2/6');
        });
    });
</script>
{% endblock %}