{% extends "base.html" %}
{% block content %}
<head>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/form.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/transition.css') }}">
	<script src="../static/components/form.js"></script>
</head>
<h3 class="ui dividing header">Pcap File Manage</h3>
  <div class="ui two column fitted stackable grid">
	<!--column1-->
	<div class="ui eleven wide column">
  	<div class="ui segment">
		<table class="ui black celled table">
		  <thead>
		    <tr><tr>
		      <th>File</th>
		      <th>Packets</th>
		      <th>Size</th>
		      <th class="center aligned">Option</th>
		    </tr>
		  </thead>
		  <tbody>
		  {% for CapFile in CapFiles %}
		    <tr>
		      <td width="40%">{{ CapFile.filename }}</td>
		      <td>{{ CapFile.filepcap }}</td>
		      <td width="20%">{{ CapFile.filesize }}</td>
		      <td class="right aligned collapsing">
		        <div class="ui fitted toggle checkbox">
		          <input type="checkbox" name="checkoption" value="{{ CapFile.id }}"><label></label>
		        </div>
		      </td>
		    </tr>
		  {% endfor %}
		  </tbody>
		  <tfoot class="full-width">
		    <tr>
		      <th colspan="4">
		        <div class="ui small button" id="delete-button">
		          Delete
		        </div>
		        <div class="ui small button" id="download-button">
		          Download
		        </div>
		      </th>
		    </tr>
		  </tfoot>
		</table>
		<div class="ui black raised segment">
			<h5 class="ui dividing header">Select City</h5>
			<div>
				<select  class="ui search dropdown" id="searchCity" >
					<option value="">Shanghai</option>
					<option value="SH">Shanghai</option>
					<option value="NJ">Nanjing</option>
				</select></div>
			<div class="ui secondary segment">
    				<p id="cityMessage"></p>
			</div>
		</div>
		<div class="ui black raised segment">
			<h5 class="ui dividing header">Select Device</h5>
			<div>
				<select  class="ui search dropdown" id="searchDevice" >
					<option value="">Shanghai</option>
					<option value="SH">Shanghai</option>
					<option value="NJ">Nanjing</option>
				</select></div>
			<div class="ui secondary segment">
    				<p id="deviceMessage"></p>
			</div>
			<tfoot class="full-width">
		    <tr>
		      <th colspan="4">
		        <div class="ui small button" id="addDevice-button">
		          Add
		        </div>
		        <div class="ui small button" id="deleteDevice-button">
		          Delete
		        </div>
		      </th>
		    </tr>
		  </tfoot>
		</div>
		<div class="ui black small right floated button" id="analyze-button">
		          <i class="search icon" ></i>Analyze
		</div>

	<div class="ui  small del modal " id='del-confirm'>
	    <div class="header">
	      Delete File?
	    </div>
	    <div class="content">
	      <p>Are you sure you want to delete these file?</p>
	    </div>
	    <div class="actions">
	      <div class="ui negative button">
	        No
	      </div>
	      <div class="ui positive right labeled icon button">
	        Yes
	        <i class="checkmark icon"></i>
	      </div>
	    </div>
	</div>

	<div class="ui small ok modal" id='upload-ok'>
	    <div class="header">
	      Upload File
	    </div>
	    <div class="content">
	      <p>File Upload OK!</p>
	    </div>
	    <div class="actions">
	      <div class="ui positive right labeled icon button">
	        Yes
	        <i class="checkmark icon"></i>
	      </div>
	    </div>
	</div>


	</div>
	</div>

	<!--column2-->
	<div class="ui five wide column">
	<div class="ui segment">
	  	<div class="field">
		<h5 class="ui dividing header">Upload Pcap File</h5>
		<span class="fluid ui black button fileinput-button"><i class="cloud upload icon"></i>Upload
		<input id='fileupload' type="file" name="pcapfile" data-url="/upload">
		</span>
		<br/>
		<div id="upprogress" class="ui green file progress">
		  <div class="progress">
		    <div class="bar"></div>
		  </div>
		  <div class="label" id='progresslabel'></div>
		</div>
	  </div>
		<div class="ui segment" id="hidden_div" style="display:none">
			<h5 class="ui dividing header">Add Your Device</h5>
			<form class="ui form segment">
				<div class="fields">
					<div ></div>
					<div class="field" id="field_id">
						<label>device_id</label>
						<input type="text" value="5" name="id">
						<div class="ui error message" id="error_id" style="display:none"><ul class="list"><li>Please enter a valid e-mail</li></ul></div>
					</div>
					<div class="field" id="field_name">
						<label>device_name</label>
						<input type="text" name="name">
						<div class="ui error message" id="error_name" style="display:none"><ul class="list"><li>Please enter a valid e-mail</li></ul></div>
					</div>
					<div class="field" id="field_imei">
						<label>device_imei</label>
						<input type="text" name="imei">
						<div class="ui error message" id="error_imei" style="display:none"><ul class="list"><li>Please enter a valid e-mail</li></ul></div>
					</div>
					<div class="field" id="field_os">
						<label>device_os</label>
						<input type="text" name="os">
						<div class="ui error message" id="error_os" style="display:none"><ul class="list"><li>Please enter a valid e-mail</li></ul></div>
					</div>
					<div class="field" id="field_serialNumber">
						<label>device_SerialNumber</label>
						<input type="text" name="serialNumber">
						<div class="ui error message" id="error_serialNumber" style="display:none"><ul class="list"><li>Please enter a valid e-mail</li></ul></div>
					</div>
				</div>
			<script>
				$('input[name="id"]').blur(function() {
					var div1=document.getElementById('error_id');
					if($(this).val() === "" || $(this).val() === null ) {
						$("#field_id").addClass('error');
						div1.style.display='block';
					}
					else{
						$("#field_id").removeClass('error');
						div1.style.display='none';
					}
				});
				$('input[name="name"]').blur(function() {
					var div1=document.getElementById('error_name');
					if($(this).val() === "" || $(this).val() === null ) {
						$("#field_name").addClass('error');
						div1.style.display='block';
					}
					else{
						$("#field_name").removeClass('error');
						div1.style.display='none';
					}
				});
				$('input[name="imei"]').blur(function() {
					var div1=document.getElementById('error_imei');
					if($(this).val() === "" || $(this).val() === null ) {
						$("#field_imei").addClass('error');
						div1.style.display='block';
					}
					else{
						$("#field_imei").removeClass('error');
						div1.style.display='none';
					}
				});
				$('input[name="os"]').blur(function() {
					var div1=document.getElementById('error_os');
					if($(this).val() === "" || $(this).val() === null ) {
						$("#field_os").addClass('error');
						div1.style.display='block';
					}
					else{
						$("#field_os").removeClass('error');
						div1.style.display='none';
					}
				});
				$('input[name="serialNumber"]').blur(function() {
					var div1=document.getElementById('error_serialNumber');
					if($(this).val() === "" || $(this).val() === null ) {
						$("#field_serialNumber").addClass('error');
						div1.style.display='block';
					}
					else{
						$("#field_serialNumber").removeClass('error');
						div1.style.display='none';
					}
				});

			</script>
			</form>
			<div class="ui blue button">Submit</div>

		</div>
	</div>

	</div>

<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}